#banner 
  .banner_content 
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to 'Enter', new_user_registration_path
#callouts 
  .callout_inner 
    .wrapper
      .callout 
        %h2 Organize
        %p I'm baby edison bulb mustache tofu, adaptogen mlkshk 
        vexillologist forage plaid four loko master cleanse pok 
        pok swag squid. +1 beard ramps cornhole viral trust fund. 
        Celiac umami kombucha hell of, chambray narwhal +1 roof party man braid hashtag. 
        Twee fingerstache pop-up ennui blue bottle XOXO. Knausgaard crucifix meditation vice blue bottle chia. 
        Bicycle rights leggings poke, lo-fi blog ugh hexagon.
#bottom_cta 
  .wrapper 
    %h2 Go Ahead!
    %br
    %button= link_to 'Join Now', new_user_registration_path